body{
  margin:0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
}

header{
top: 0;
}

header div{
  display: flex;
  justify-content: space-around;
}

.logo{
  width: 8%;
}

.logoTitle{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav{
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  margin-top: 0;
  padding-right: 0;
  padding: 0;
}

.menu{
  display: flex;
  margin-right: 0;
  margin-top: 2rem;
}

.menu li{
  list-style: none;
  margin-right: 2rem;
}
hr{
  border: 1px solid gray;
}
main{
  justify-content: center;
  align-items: center;
}

.slider{
  border: 1px solid black;
  background: gray;
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex; 
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor:pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #ffffff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border:2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #ffffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #ffffff;
}


h2{
  text-align: center;
}

/*============================Fotos=======*/

.janelaModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.Fotos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contentFotos img{
  width: 200px;
  height: 100px;
}

.contentFotos img:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*======================Sobre=======*/
.sobre p{
text-align: center;
margin: 3rem;
}

.sSobre{
  text-align: center;
  margin: 3rem;
}

/*============================================Resposinvo=======*/
@media screen and (max-width:480px) {
  .slider{
    width:300px;
    height: 200px;
  }
  
  .slide img{
    width: 300px;
    height: 200px;
  }

  .manual-navigation{
    margin-top: -220px;
    width: 300px;
  }

  .navigation-auto{
    margin-top: 180px;
    width: 300px;
  }
  .logo{
    width: 20%;
  }

  h1{
    font-size: 1.4rem;
  }
  header div{
    align-items: center;
    flex-direction: column;
  }

  .logoTitle{
    align-items: baseline;
  }

  .menu{
    margin-top: .5rem;
  }
}